.header-cover {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  .header {
    height: 80px;
    line-height: 80px;
    margin: 0 auto;
    .icon {
      font-size: 20px;
    }
    .logo {
      font-family: 'Shadows Into Light', serif;
      font-size: 30px;
    }
  }
  .nav {
    width: 100%;
    .nav-list {
      width: 100%;
    }
    .list {
      display: inline-block;
      padding: 0 15px;
    }
    .active {
      color: #007fff;
    }
  }
}